[submodule "vendor/plugins/restful_authentication"]
	path = vendor/plugins/restful_authentication
	url = git://github.com/technoweenie/restful-authentication.git
[submodule "vendor/plugins/attachment_fu"]
	path = vendor/plugins/attachment_fu
	url = git://github.com/technoweenie/attachment_fu.git
[submodule "vendor/plugins/acts_as_tree"]
	path = vendor/plugins/acts_as_tree
	url = git://github.com/rails/acts_as_tree.git
[submodule "vendor/plugins/attachment_fu_fixtures"]
	path = vendor/plugins/attachment_fu_fixtures
	url = git://github.com/mynyml/attachment_fu_fixtures.git
[submodule "vendor/plugins/paperclip"]
	path = vendor/plugins/paperclip
	url = git://github.com/thoughtbot/paperclip.git
