<p>
  <b>Name:</b>
  <%=h @project_category.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @project_category.description %>
</p>


<%= link_to 'Edit', edit_project_category_path(@project_category) %> |
<%= link_to 'Back', project_categories_path %>
